.custom-template-head {
  h2 {
    font-size: 24px;
    color: #666;
    margin: 0 0 10px;
    float: left;
  }
  .common-btn2 {
    float: right;
  }
}
.template-steps {
  max-width: 900px;
  margin: 20px auto 30px;
  text-align: center;
  .template-steps-col {
    float: left;
    width: 33.33%;
    font-size: 12px;
    color: #888;
    position: relative;
    &:after {
      position: absolute;
      top: 9px;
      left: -41%;
      height: 1px;
      width: 80%;
      background: #888;
      content: '';
    }
    &:first-child::after {
      width: 0;
      height: 0;
    }
    .step-count {
      margin: 0 auto 8px;
      font-size: 10px;
      color: #666;
      border: 1px solid #888;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: block;
      }
    }
    .template-steps-col {
      &.active {
        color: #861f41;
        .step-count {
          background: #861f41;
          font-size: 14px;
          color: #fff;
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-color: #861f41;
          margin-top: -6px;
        }
      }
      .count {
        display: block;
      }
      .comp-tick {
        display: none;
      }
      &.completed {
        color: #861f41;
        span {
          border-color: #861f41;
          border: 0;
        }
        .count {
          display: none;
        }
        .comp-tick {
          display: block;
        }
      }
   }
}
.config-custom-format {
  background: #fff;
  padding: 15px;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
  box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
  .config-custom-text {
    padding: 15px 0 0 10px;
    display: none;
  }
  &.open {
    .config-custom-text {
      display: block;
    }
    h3 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
    }
  }
  p {
    margin: 0 0 10px;
  }
  h3 {
    
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    position: relative;
    .slide-arrow {
      position: absolute;
      top: -2px;
      right: 10px;
      font-size: 16px;
      cursor: pointer;
      color: #861f41;
    }
  }
  h4 {
    color: #444;
    margin-bottom: 12px;
  }
  ul {
    padding-left: 22px;
    margin-top: 0;
    li {
      margin-bottom: 15px;
    }
  }
  .common-btn2 {
    float: right;
  }
}
.data-fields-wrap {
  .data-fields {
    float: left;
    width: 70%;
    margin-right: 1%;
    background: #fff;
    border-radius: 8px;
  }
  .data-fields-lists {
    float: left;
    width: 29%;
    background: #fff;
    border-radius: 5px;
  }
}

.data-fields-lists {
  p {
    font-size: 13px;
    color: #666;
    margin: 10px 8px;
  }
  h3 {
    font-size: 12px;
    background: #ccc;
    color: #555;
    padding: 8px 10px;
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 10px 10px 10px 45px;
    font-size: 13px;
    color: #555;
    list-style: none;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #eee;
    .plus-btn {
      position: absolute;
      top: 9px;
      left: 10px;
      color: #861f41;
      font-size: 14px;
    }
    .status-icon{
      position: absolute;
      right: 10px;
      color: #861f41;
      opacity: 0;
    }
    .added-icon{
      position: absolute;
      right: 10px;
      color: #6AC259;
    }
  }
  li:hover{
    box-shadow: 0px 0px 5px 0px #999999;
    .status-icon{
      opacity: 1;
    }
  }
}
.data-field-btn {
  margin-top: 40px;
  span,
  a {
    margin-right: 10px;
  }
}
.finalise-detail-data {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}
.finalise-detail-form {
  .form-group {
    margin-bottom: 25px;
    label {
      float: left;
      width: 120px;
      color: #666;
      margin-right: 20px;
      font-size: 13px;
      line-height: 24px;
    }
    input {
      border: 0;
      border-bottom: 1px solid #ddd;
      padding: 4px 10px;
      font-size: 13px;
      min-width: 200px;
      &:focus {
        outline: none;
      }
    }
    select {
      border-bottom: 1px solid #ddd;
      min-width: 220px;
      font-size: 13px;
    }
    &.input-footer input,
    &.input-header input {
      max-width: 40px;
      min-width: 40px;
    }
    &.option-date select,
    &.option-file select {
      min-width: 130px;
    }
    &.option-delimiter select {
      min-width: 70px;
      width: 70px;
    }
  }
}
.main-layout .content-section table.custom-field-tabel {
  border-collapse: collapse;
  border-spacing: 0;
}
#filedrag {
  .success-upload-msg {
    color: #0db30d;
    font-size: 13px;
    text-transform: uppercase;
    span {
      border: 1px solid #0db30d;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: inline-block;
      font-size: 8px;
      line-height: 17px;
      margin-right: 5px;
    }
  }
}
.main-layout .content-section .custom-field-tabel {
  width: 99.9%;
  tr {
    th {
      font-size: 14px;
      width: 50%;
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px 10px;
      font-weight: 600;
      color: #666;
      text-transform: uppercase;
    }
    td {
      font-size: 13px;
      width: 50%;
      border: 1px solid #ddd;
      padding: 8px 10px;
      height: 50px;
      .custom-data-count {
        margin-right: 8px;
      }
    }
  }
}

.custom-drag-drop-table{
   tbody{
     .no-padding-td{
       padding:1px !important;
       font-weight: bold;
     }
     td{
       position: relative;
       height: 80px !important;
       font-size:14px !important;
       color:#666 !important;
       input{
         border:none;
         border-bottom:1px solid #ddd;
         padding-bottom:5px;
         width:200px;
         position: absolute;
         top:20px;
         left:40px;
       }
       .td-text{
         position: absolute;
         top:20px;
         left:20px;
         font-weight: 600;
         i{
           cursor: pointer;
           color: #861f41;
           margin-right: 3px;
         }
       }
       .input-length{
          position: absolute;
          right: 15px;
          bottom: 25px;
          color: #B3B3B3;         
       }
       .input-type{
         color:#B3B3B3;
         position: absolute;
         bottom:25px;
         left: 40px;
         font-size:13px;
       }
       .edit-icon-wrapper{
         position: absolute;
         top:20px;
         right: 20px;
         color:#861f41;
         font-size:16px;
         cursor: pointer;
       }
       .drop-here{
         width:100%;
         height:100%;
         background:#C8C8C8;
         display:flex;
         text-align:center;
         align-items:center;
         justify-content:center;
         border:1px dashed;
         z-index:2;
       }
     }
   }
}

.custom-drag-drop-table-scroll{
    overflow-y: scroll;
    height: 444px;
    thead th {
      position: sticky !important;
      top: 0;
      background:#fff;
      border-bottom:1px solid #e7e7e7;
      z-index: 999;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#E1E1E1; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #999; 
    }
}