.checker-dashboard-progress-wrapper {
    table{
      border-top-right-radius:0 !important;
      border-top-left-radius:0 !important;
    }
    .react-tabs__tab--selected .progress-tile{
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
}

.transactions-tab-filter{
   width:100%;
   display:flex;
   background:#fff;
   section{
     width:25%;
     font-size:14px;
     box-sizing:border-box;
     padding-left:10px;
     
     label{
       color:#B3B3B3;
       font-size:12px;
     }
   }
}