.checker-dashboard-progress-wrapper {
    table{
      border-top-right-radius:0 !important;
      border-top-left-radius:0 !important;
    }
    .react-tabs__tab--selected .progress-tile{
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
}