.checker-dashboard-progress-wrapper {
    table{
      border-top-right-radius:0 !important;
      border-top-left-radius:0 !important;
    }
    .react-tabs__tab--selected .progress-tile{
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
}

.transactions-tab-filter{
   width:100%;
   display:flex;
   background:#fff;
   padding:10px 0;
   border-top-right-radius:20px;
   section{
     width:28%;
     font-size:14px;
     box-sizing:border-box;
     border-left: 1px solid #ddd;
     padding: 10px 0 25px 10px;
     &:first-child {
       border-left: 0;
     }
     label{
       color:#B3B3B3;
       font-size:12px;
     }
     &.default-view {
      width: 15%;
     }
   }
}