.activity-history-table-wrapper{
    .icon{
      display: inline-block;
      margin-right:5px;
    }
    .popup-title{
        font-weight:400;
        color:#333;
    }
    .maker-remainder-section {
        background:#fff;
        box-sizing: border-box;
        padding: 15px 10px;
        font-size: 14px;
        button {
            width: 180px;
            font-size: 13px;
            margin-right: 10px;
            background: #fff;
            border: 2px solid #98144E;
            color: #98144E;
            font-weight: bold;
            margin-bottom:0;
            cursor: pointer;
        }
        span {
            color: #888;
            font-size: 12px;
        }
    }
}
.activity-history-table{
     tr:nth-child(odd) td{
        background: #ffffff;
     }
     tr:nth-child(even) td{
        background:#FAFAFA;
     }
    bold{
      font-weight: 400;
      margin-right:5px;
      font-size:16px;
      color:black;
    }
    th,td{
      width:100px;
      height: 60px;
      font-weight: lighter !important;
      font-size:14px;
      border-right:1px solid #E7E7E7;
      box-sizing: border-box;
      padding-left:10px;
    }
    th{
        border-bottom:1px solid #E7E7E7;
        border-right:none;
        font-size:12px;
        color:#555 !important;
    }
    .view-details{
        display: block;
        font-size: 11px;
        color: #98144E;
        margin-top: 5px;
        text-decoration:none;
    }
    .date{
        display: block;
        font-weight: bold;
        font-weight: 500;
        margin-bottom: 10px;
        white-space: nowrap;        
    }
    .time,.sub-th{
        color: #B3B3B3;
        font-size: 12px;
        display:block;
        margin-top:5px;
    }
}