header{
    width:100%;
    height: 90px;
    background-color:#98144E;
    box-sizing:border-box;
    padding-top:20px;
    .header-inner{
       .logo{
           margin-left:30px;
           float:left;
       }
       .white-section{
           width:83%;
           float: right;
           height: 80px;
           background-color:#fff;
           background: #e6e6e6 url('/images/menucurve.png') no-repeat;
           background-position: 0 0;
           margin-top:-38px;
       }
    }
}
