header{
    width:100%;
    height: 90px;
    background-color:#98144E;
    box-sizing:border-box;
    padding-top:20px;
    overflow: hidden;
    .header-inner{
       .logo{
           margin-left:30px;
           float:left;
       }
       .white-section{
           width: calc(100% - 230px);
           float: right;
           height: 80px;
           background-color:#E6E6E6;
           background:#E6E6E6 url('/images/menucurve2.png') no-repeat;
           background-position: 0 0;
           position: absolute;
          top: 31px;
          right: 0;
       }
    }
    .mobile-menu {
      display: none;
    }
}
