.action-status{
    position: absolute;
    left: -1px;
    top: 44px;
    width: 100%;
    background-color:#fff;
    box-shadow: 0px 1px 2px 0px #999999;
    z-index: 99;
    padding-bottom: 15px;
    ul {
      padding: 0;
    }
    li {
      padding: 7px 7px 7px 26px;
      color:#98144E;
      font-size: 13px;
      list-style: none;
      position: relative;
      cursor: pointer;
      span {
        width: 7px;
        height: 7px;
        background: #999;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 9px;
        left: 10px;
      }
      &.accept-all span {
        background:#6AC259;
      }
      &.hole-all span {
        background:#F5B300;
      }
      &.reject-all span {
        background:#EC5F48;
      }
      &.no-action-all span {
        background:#A3A3A3;
      }
    }
    select {
      width: 110px;
      margin-left: 10px;
      cursor: pointer;
    }
    .action-filter {
      font-size: 13px;
      color: #888;
      margin: 5px 10px;
      display: block;
      position: relative;
      padding-left: 24px;
      padding-top: 2px;
      cursor: pointer;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }