.new-upload-wrap {
  background: #C8C8C8;
  border: 1px dashed #ddd;
  min-height: 350px;
  text-align: center;
  .upload-tex {
    padding-top: 100px;
  }
  p {
    font-size: 12px;
    color: #333;
    &.upload-or-txt {
      font-weight: 600;
    }
  }
}