.progress-wrapper{
    width:100%;
    background-color:#E6E6E6;
 }
 .progress-wrapper .progress-bar{
   width:70%;
   height:15px;
   text-align:center;
   color:#fff;
   line-height:15px;
   background-color:#6AC259;

   p.uploaded-percentage{
     margin-bottom:5px;
     margin-top:0;
   }
   p.uploaded-text{
     margin:0;
     color:#888;
     font-size:12px;
     text-align: left;
   }
 }