.draggable-li{
    list-style: none;
    background: #fff;
    min-width: 130px;
    height: 26px;
    line-height: 26px;
    float: left;
    margin: 0 15px 22px 0;
    font-size: 12px;
    text-align: center;
    color: #555;
    border: 1px solid #eee;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px #bbbbbb;
    border: 1px solid #fff;
}
.draggable-li:hover {
    border-color: #c1a2b1;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(152,20,78,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(152,20,78,1);
    box-shadow: 0px 0px 2px 0px rgba(152,20,78,1);
}