body{
  font-family: 'Open Sans', sans-serif;
}
.main-layout{
    height: calc(100vh - 90px);
    font-family: 'Open Sans', sans-serif;
    width:100%;
    display:flex;
    flex-wrap: no-wrap;
    box-sizing:border-box;
    overflow: hidden;
   .sidebar{
      width: 8%;
      background-color:#2d3436;
      .mobile-menu-close {
        display: none;
      }
      ul {
        margin:0;
        padding: 0;
      }
      li{
        display:block;
        height: 70px;
        color:#C6C6C6;
        text-align:center;
        text-transform: uppercase;
        font-size: 12px;
        border-bottom:1px solid #636e72;
        box-sizing:border-box;
        padding-top:15px;
        cursor: pointer;
        i{
          display: block;
          text-align:center;
          margin-bottom:5px;
          font-size:16px;
        }
        span {
          width: 22px;
          height: 22px;
          margin: 0 auto 2px;
          display: block;
          img {
            width: 22px;
          }
          &.enquire {
            img {
              width: 18px;
            }
          }
          &.active-icon {
            display: none;
          }
        }
      }
      li.react-tabs__tab--selected{
        background-color:#fff;
        color:#98144E;
        border-left:5px solid #98144E;
        i{
          color:#98144E;
        }
        span {
          display: none;
          &.active-icon {
            display: block;
          }
        }
      }
    }
    .content-section{
      width:92%;
      background-color:#E6E6E6;
      color:#4A4A4A;
      box-sizing: border-box;
      padding:20px;
      overflow-y:scroll;
      position: relative;
      
      .page-title{
         font-weight:400;
         font-size:28px;
         letter-spacing:-1px;
         margin-top:0;
         margin-bottom:5px;
      }

      .last-updated-time{
         position: absolute;
         right:20px;
         top:52px;
         font-size:12px;
         color:#888;
         i{
           color:#98144E;
           margin-left:8px;
           cursor:pointer;
           font-size: 15px;
         }
      }
    
      .route-select{
        width: 172px;
        position: relative;
        margin-bottom:10px;
        .mobile-route {
          display: none;
        }
        span{
          font-size:12px;
          margin-right:5px;
        }
        select{
          width:82px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          font-size:14px;
          border-bottom: 1px solid #636e72;
          position: relative;
          cursor: pointer;
          padding-left: 2px;
        }
        &:after{
          content:"";
          position: absolute;
          top:5px;
          right: 25px;
          width: 8px;
          height: 8px;
          border-style: solid;
          border-color: #98144E;
          border-width: 0px 2px 2px 0px;
          transform: rotate(45deg);
          pointer-events: none;
        }
      }


      .sub-heading{
         font-size:14px;
         font-weight:bold;
         text-transform:uppercase;
         letter-spacing:0px;
         color:#666;
      }

      .progress-tiles-wrapper{
         
         display:flex;
         justify-content: space-between;
         
        .progress-tile{
          width:280px;
          height: 73px;
          box-sizing:border-box;
          color:#fff;
          background-color:#98144E;
          text-align:center;
          border-radius:4px;
          padding-top:15px;
          padding-bottom:15px;
          margin-bottom:10px;
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
          cursor: pointer;
          span{
            display:block;
            text-align:center;
          }
          span.text{
            font-size:12px;
            text-transform: uppercase;
          }
          span.count{
            font-size:26px;
            font-weight: 400;
            margin-top:3px;
          }
        }
        .react-tabs__tab--selected .progress-tile.active{
           background-color:#fff;
           color:#4A4A4A;
           border-top:3px solid #98144E
        }
        /** The below css is used only on Dashboard Maker - batches Table **/
        .progress-tile.active{
          background-color:#fff;
          color:#4A4A4A;
          border-top:3px solid #98144E;
          box-shadow:none;
          position: relative;
        }
        .progress-tile.active::after{
          content:"";
          width:100%;
          height: 10px;
          position: absolute;
          left: 0;
          bottom: -10px;
          background:#fff;
        }
      }
      
      .progress-tiles-wrapper {
          .react-tabs__tab--selected .progress-tile{
            background-color:#fff;
            color:#4A4A4A;
            border-top:3px solid #98144E;
            box-shadow:none;
            position: relative;            
          }
          .react-tabs__tab--selected .progress-tile::after{
            content:"";
            width:100%;
            height: 10px;
            position: absolute;
            left: 0;
            bottom: -10px;
            background:#fff;            
          }
      }


      .checker-dashboard {
         .progress-tiles-wrapper{
           justify-content: flex-start;
            .progress-tile{
               margin-right:15px;
            }
         }
         .react-tabs__tab-list{
           list-style:none;
           margin:0;
           padding:0;
         }
      }

      //Common Styles for Table
      table{
        width:100%;
        background:#fff;
        border-collapse: separate;
        border-radius:10px;
        // border-spacing: 0;
        tbody{
          border-top:1px solid #E7E7E7;
        }
        tbody.tbody-shadow{
          /*box-shadow: 0px 8px 16px -8px rgb(169, 167, 167);*/
        }
        tr:nth-child(odd) td{
           background: #ffffff;
        }
        tr:nth-child(even) td{
           background:#FAFAFA;
        }
        tr{

          td{
            padding:12px 20px;
            font-size:14px;
            border-right:1px solid #E7E7E7;
            span.date{
              display: block;
              font-weight:bold;
              font-weight:500;
              margin-bottom:10px;
              white-space: nowrap;
            }
            span.time{
              color:#B3B3B3;
              font-size:12px;
            }
            span.amount{
              color:#888;
            }
            bold{
              font-weight:600;
            }
          }
          th{
            padding:15px 10px;
            padding-left:22px;
            vertical-align: top;
            box-sizing: border-box;
            text-align:left;
            color:#333;
            font-weight:500;
            font-size:12px;
            border-right:1px solid #e7e7e7;
            position: relative;
            box-sizing: border-box;
            height: 100%;
            small{
              color: #888;
              font-size: 9px;
              margin-top:5px;
              margin-left:-15px;
              display: block;
            }
          }
          th:last-child{
            border-right:none;
          }
          td:last-child{
            border-right:none;
          }
        }
        i.icon{
          color:#98144E
        }

        .small-icon{
          font-size:10px;
          margin-left:10px;
        }

        .textalign-right{
          text-align: right;
        }
        
        a.view-details{
           display: block;
           font-size:11px;
           color:#98144E;
           margin-top:5px;
           text-decoration:none;
        }

        .checkbox-wrapper{
           cursor: pointer;
           input[type="checkbox"]{
             display: none;
           }
           input[type="checkbox"] + .label-text::before{
              content:"";
              width:15px;
              height: 15px;
              display: inline-block;
              margin-right:10px;
              border:1.5px solid #d1ccc0;
              border-radius: 4px;
              vertical-align: text-bottom;
              text-align:center;
           }
           input[type="checkbox"]:checked + .label-text::before{
             content:'\2713';
             color:#fff;
             background-color:#98144E;
             border-color:#98144E;
           }
        }

        .empty-td{
          width:100%;
          height: 100%;
          display:flex;
          justify-content: center;
          align-items: center;
          .empty-td-span{
            width:30px;
            height: 1px;
            background: #888;
          }
        }

        .sortIconsWrapper{
             display:flex;
             flex-direction: column;
             position: absolute;
             left: 7px;
             top:17px;
            .headerSortUp{
              padding: 0;
              margin:0;
              width: 0; 
              height: 0; 
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid #888;
              margin-bottom:2px;
              cursor: pointer;
            }
            .headerSortDown{
              padding:0;
              margin:0;
              width: 0; 
              height: 0; 
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #888;
              cursor: pointer;
            }
        }
      }

      table.has-bottom{
        -webkit-box-shadow: -1px 8px 14px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 8px 14px -9px rgba(0,0,0,0.75);
        box-shadow: -1px 8px 14px -9px rgba(0,0,0,0.75);
      }


      
      //Code for Fixed Table Header
      .fixed-table-header{
        thead tr{
          display: block;
        }
        thead tr th{
          display: inline-block;
        }
        tbody{
          display:block;
          overflow-y:scroll;
          width:100%;
        }
        /* width */
        ::-webkit-scrollbar {
          width: 5px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background:#E1E1E1; 
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #999; 
        }
       }
      
      .batches-table{
        // border-top-left-radius:0;
        // border-top-right-radius:0;
        border-radius: 0;
        tbody{
          margin-top:-2px;
        }
        th{
          height:56px !important;
        }
        td{
          vertical-align:top;
        }
        .select-all{
          text-decoration: none;
          color: #98144E;
          display: block;
          margin-top: 8px;          
        }
      }

    }  
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@mixin can-toggle-branding(
  $can-toggle-off-color: #fff, 
  $can-toggle-inactive-text: #777,
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {
  input[type="checkbox"] {
    &[disabled] ~ label {
      color: rgba($can-toggle-off-color, 0.5);
    }
  }
  label {
    .can-toggle__label-text { flex: 1; }
    .can-toggle__switch {
      transition: background-color 0.3s $can-toggle-transition;
      background: #ddd;
      &:before { color: $can-toggle-inactive-text; }
      &:after {
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $can-toggle-off-color; 
      }
    }
  }
}

@mixin can-toggle-appearance 
( 
  $can-toggle-width: 180px,
  $can-toggle-height: 26px,
  $can-toggle-border-radius: 20px,
  $can-toggle-offset: 0,
  $can-toggle-label-font-size: 11px,
  $can-toggle-switch-font-size: 11px,
){
  $can-toggle-switch-width: $can-toggle-width/2;
  input[type="checkbox"] {
    &:checked {
      ~ label {
        .can-toggle__switch {
          &:after { transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0); }  
        }
      }
    }
  }
  label {

    font-size: $can-toggle-label-font-size;
    .can-toggle__switch {
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;
      &:before {
        left: $can-toggle-width/2;
        font-size: $can-toggle-switch-font-size; 
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 12px;
      }
      &:after {
        top: $can-toggle-offset; left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius;
        width: $can-toggle-switch-width - $can-toggle-offset; 
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
      }
    } 
  }
}
.text-toggle {
  position: relative;
  *, *:before, *:after { box-sizing: border-box; }
  //overflow: hidden;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    
    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }
    &:checked {
      ~ label {
        .can-toggle__switch {
          &:before {
            content: attr(data-unchecked);
            left: 0;
          }
          &:after {
            content: attr(data-checked);
          }  
        }
      }
    }
  }
  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    .can-toggle__label-text { 
      flex: 1;
      padding-left: 32px;
    }
    .can-toggle__switch {
      position: relative;
      cursor: pointer;
      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-align: center;
      }
      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-align: center;
        background: #98144E;
        transform: translate3d(0,0,0);
        color: #fff;
      }
    }
  }
  @include can-toggle-branding; 
  @include can-toggle-appearance; 
}

.radio-button-wrap {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 2px solid #98144E;
    border-radius: 50%;
  }
  .checkmark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #98144E;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}
.custom-radio-btn {
  .radio-button-wrap {
    float: left;
    margin-right: 30px;
  }
}
.custom-checkbox {
  .checkbox-wrap {
    float: left;
    margin-right: 30px;
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 2px solid #98144E;
    border-radius: 3px;
  }
  input:checked ~ .checkmark {
    background-color: #98144E;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


/*****
 Styles for colors
*******/
.green-clr{
   color:#6AC259
}
.orange-clr{
  color:#F5B300
}
.red-clr{
  color:#EC5F48
}
.grey-clr{
  color:#A3A3A3
}

.recent-activity-table{
    th{
       height:54px !important;
    }
}

.checker-transactions-table{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
   th{
     height:40px !important;
   }
}

.checker-batches-table{
   th{
     height: 54px !important;
   }
   td{
     vertical-align:top;
   }
   .view-details{
     margin-top:10px !important;
   }
}

.checker-accounts-table{
  .refresh-link{
    display:block;
    font-size:13px;
    color:#98144E;
    text-decoration:none;
    margin-top:5px;
 }
}

/*****
  Code for table header fixed
********/
.recent-activity-table-wrapper{
  overflow-y: scroll;
  height: 553px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;

  .fake-radius{
    width:20px;
    height:20px;
    background:red;
    top:0;
    right: 0;
    position: absolute;
    z-index:999;
  }

  .body-date{
    width:10%;
  }

  .head-date{
    width:10%;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;

  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    /*background: #E6E6E6;*/
    opacity: 0;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#E1E1E1; 
    opacity: 0;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

  thead th {
    position: sticky !important;
    top: 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
  }

}

.maker-batches-table-wrapper{
  overflow-y: scroll;
  height: 400px;

  thead th {
    position: sticky !important;
    top: 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
    z-index: 999;
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#E1E1E1; 
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }
}

.checker-batches-table-wrapper{
  overflow-y: scroll;
  height: 553px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:30px;
  border-top-right-radius:30px;
  thead th {
    position: sticky !important;
    top: 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
    z-index: 999;
  }
  tfoot td{

  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#E1E1E1; 
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }
  tfoot{
    td{
      position: sticky !important;
      bottom: 0;
      background-color:#FFFBEE !important;
    }
  }
}

.checker-transactions-table-wrapper{
  overflow-y: scroll;
  height: 471px;
  overflow: hidden;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  thead th {
    position: sticky !important;
    top: 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
    z-index: 999;
  }
  tfoot td{

  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#E1E1E1; 
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }
  tfoot{
    td{
      position: sticky !important;
      bottom: 0;
      background-color:#FFFBEE !important;
    }
  }
}

.checker-accounts-table{
  overflow-y: scroll;
  height: 470px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:30px;
  border-top-right-radius:30px;
  thead th {
    position: sticky !important;
    top: 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
    z-index: 999;
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#E1E1E1; 
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }
  tfoot{
    td{
      position: sticky !important;
      bottom: 0;
      background-color:#FFFBEE !important;
    }
  }
}

.table-footer{
  /*box-shadow: -1px 8px 14px -9px rgba(0,0,0,0.75);*/
  
  td{
    background-color:#FFFBEE !important;    
    -webkit-box-shadow: 0px -5px 4px 0px rgba(153,153,153,0.24);
    -moz-box-shadow: 0px -5px 4px 0px rgba(153,153,153,0.24);
    box-shadow: 0px -5px 4px 0px rgba(153,153,153,0.24);
  }
  span{
    display: block;
    margin-bottom:5px;
    text-align:right;
    font-weight: bold;
    font-size:13px;
  }
  .apply-flex{
    display:flex;
    justify-content: flex-end;
    div{
      padding-left:20px;
      padding-right:20px;
    }
  } 
}
.text-right {
  text-align: right;
}
.table-btn-actions {
  span {
    cursor: pointer;
  }
}
button,
select {
  cursor: pointer;
}
button:focus {
  outline: none;
}
select {
  padding-left: 2px;
}
.slick-list {
  padding-top: 1px;
}