.main-layout{
    height: calc(100vh - 90px);
    font-family: 'Open Sans', sans-serif;
    width:100%;
    display:flex;
    flex-wrap: no-wrap;
    box-sizing:border-box;
    overflow: hidden;
   .sidebar{
      margin:0;
      padding: 0;
      width: 10%;
      background-color:#2d3436;
      li{
        display:block;
        height: 70px;
        color:#C6C6C6;
        text-align:center;
        text-transform: uppercase;
        font-size: 12px;
        border-bottom:1px solid #636e72;
        box-sizing:border-box;
        padding-top:15px;
        cursor: pointer;
        i{
          display: block;
          text-align:center;
          margin-bottom:5px;
          font-size:16px;
        }
      }
      li.react-tabs__tab--selected{
        background-color:#fff;
        color:#98144E;
        border-left:5px solid #98144E;
        i{
          color:#98144E;
        }
      }
    }
    .content-section{
      width:90%;
      background-color:#E6E6E6;
      color:#4A4A4A;
      box-sizing: border-box;
      padding:20px;
      overflow-y:scroll;
      .page-title{
         font-weight:400;
         font-size:28px;
         letter-spacing:-1px;
         margin-top:0;
      }
      .sub-heading{
         font-size:14px;
         font-weight:500;
         text-transform:uppercase;
         letter-spacing:0px;
      }

      .progress-tiles-wrapper{
         
         display:flex;
         justify-content: space-between;
         
        .progress-tile{
          width:248px;
          height: 73px;
          box-sizing:border-box;
          color:#fff;
          background-color:#98144E;
          text-align:center;
          border-radius:4px;
          padding-top:15px;
          span{
            display:block;
            text-align:center;
          }
          span.text{
            font-size:12px;
            text-transform: uppercase;
          }
          span.count{
            font-size:28px;
            font-weight: 400;
          }
        }
      }

      //Common Styles for Table
      table{
        width:100%;
        background:#fff;
        border-collapse: separate;
        border-radius:10px;
        thead{
          box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
        }
        tr{

          td{
            padding:8px;
            font-size:14px;
            border-right:1px solid #E7E7E7;
            span.date{
              display: block;
              font-weight:bold;
              font-weight:500;
              margin-bottom:10px;
              white-space: nowrap;
            }
            span.time{
              color:#B3B3B3;
              font-size:12px;
            }
          }
          th{
            padding:15px 10px;
            box-sizing: border-box;
            text-align:left;
            color:#B3B3B3;
            font-weight:500;
            font-size:12px;
          }
          td:last-child{
            border-right:none;
          }
        }
        i.icon{
          color:#98144E
        }
        a.view-details{
           display: block;
           font-size:11px;
           color:#98144E;
           margin-top:5px;
        }
        tr:nth-child(odd) td{
            background-color:#fff
        }
        tr:nth-child(even) td{
            background-color:#fafafa;
        }

      }
      
      //Code for Fixed Table Header
      .fixed-table-header{
        thead tr{
          display: block;
        }
        thead tr th{
          display: inline-block;
        }
        tbody{
          display:block;
          overflow-y:scroll;
          width:100%;
        }
        /* width */
        ::-webkit-scrollbar {
          width: 5px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background:#E1E1E1; 
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #999; 
        }
       }

    }  
}