.admin-alerts-table{
   tbody{
     height: 200px;
   }
   .head-message {
      width: 84.6%;
    }
    .head-date {
      width: 10%;
    }
    .body-message {
      width: 90%;
    }
    .body-date {
      width: 10%;
    }
}